:root {
  --background: #D8DEE9;
  --foreground: #3B4252;
  --border-color: #3B4252;
  --section-text: #434C5E;
  --shadow-color: #3B425250; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2E3440;
    --foreground: #D8DEE9;
    --border-color: #D8DEE9;
    --section-text: #E5E9F0;
    --shadow-color: #D8DEE950; } }

body[data-theme="dark"] {
  --background: #2E3440;
  --foreground: #D8DEE9;
  --border-color: #D8DEE9;
  --section-text: #E5E9F0;
  --shadow-color: #D8DEE950; }

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  padding-bottom: 2vh;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  body h1 {
    display: block;
    width: 100%;
    text-align: center; }
  body section {
    font-family: "Fira Code", monospace;
    color: var(--section-text);
    border: 2pt solid var(--border-color);
    padding: 2vh 2vw;
    min-height: 20vh;
    min-width: 30vw;
    margin-top: 4vh;
    transition: box-shadow 1s; }
    body section:hover {
      box-shadow: 0.5vh 0.5vw 8pt 2pt var(--shadow-color); }
    body section h1 {
      margin-top: 0; }
    body section ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin: 0 auto; }
      body section ul li {
        margin: 0;
        padding: 0;
        font-size: 1.3em; }
        body section ul li a, body section ul li a:visited {
          color: var(--section-text);
          text-decoration: none; }
          body section ul li a:hover, body section ul li a:visited:hover {
            text-decoration: underline; }
