@import "nord.scss";

@mixin dark{
    --background: #{$nord0};
    --foreground: #{$nord4};
    --border-color: #{$nord4};
    --section-text: #{$nord5};
    --shadow-color: #{$nord4}50;
}

:root {
    --background: #{$nord4};
    --foreground: #{$nord1};
    --border-color: #{$nord1};
    --section-text: #{$nord2};
    --shadow-color: #{$nord1}50;
}

@media (prefers-color-scheme: dark){
    :root{
        @include dark;
    }
}

body[data-theme="dark"] {
    @include dark;
}

@mixin margin-reset{
    margin: 0;
    padding: 0;
}

@mixin text{
    font-family: "Fira Code", monospace;
}

body{
    background-color: var(--background);
    color: var(--foreground);
    @include margin-reset;
    @include text;
    padding-bottom: 2vh;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h1{
        display: block;
        width: 100%;
        text-align: center;
    }

    section{
        @include text;
        color: var(--section-text);
        border: 2pt solid var(--border-color);
        padding: 2vh 2vw;
        min-height: 20vh;
        min-width: 30vw;
        margin-top: 4vh;
        transition: box-shadow 1s;

        &:hover{
            box-shadow: 0.5vh 0.5vw 8pt 2pt var(--shadow-color);
        }

        h1{
            margin-top: 0;
        }

        ul{
            @include margin-reset;
            list-style: none;
            margin: 0 auto;

            li{
                @include margin-reset;
                font-size: 1.3em;

                a, a:visited{
                    color: var(--section-text);
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
